{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}

{% block body %}
<h1>Catalog page</h1>
{% for item in data %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    {{ item["title"] }}
{% endfor %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa doloribus, harum, hic ipsam laboriosam maiores necessitatibus non perspiciatis praesentium quisquam quod reiciendis repellendus rerum saepe sequi soluta sunt voluptates!</p>
{% endblock %}